  * {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 14px;
  }

  img {
    max-width: 100%;
    margin-bottom: 1rem;
  }

  #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    flex-flow: row wrap;
  }

  small {
    font-size: 0.8rem;
    font-weight: 300;
  }

  .left,
  .right {
    display: flex;
  }

  @media screen and (max-width: 700px) {
    .nav-buttons {
      order: 3;
    }

    .view-buttons {
      order: 4;
    }

    .left,
    .right {
      flex-direction: column;
      align-self: flex-end;
    }

    .nav-buttons,
    .view-buttons {
      flex-basis: 49%;
      margin-top: 0.6rem;
    }

    .title {
      min-width: 60%;
    }
  }

  .nav-buttons {
    margin-right: 1rem;
  }

  .title {
    font-weight: 600;
    font-size: 1.5rem;
  }

  .message {
    padding: 0 0.6rem;
  }

  .banner {
    padding: 0.4rem 0.8rem;
    text-align: center;
    color: #fff;
    background-color: maroon;
    margin-bottom: 0.6rem;
  }

  table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  tbody tr {
    height: 150px;
  }

  th {
    background: whitesmoke;
  }

  td {
    text-align: right;
    vertical-align: top;
  }

  th,
  td {
    border: 1px solid #ddd;
  }

  td.today {
    background-color: whitesmoke;
  }

  button {
    border: 1px solid #333;
    border-radius: 3px;
    padding: 0.3rem 0.6rem;
    background: #1E90FF;
    color: black;
  }

  button:hover {
    cursor: pointer;
    background: #ddd;
  }

  button.active {
    background-color: #666;
    color: white;
  }

  .entry {
    display: block;
    background-color: darkblue;
    padding: 0.2rem 0.3rem;
    width: 100%;
    color: white;
    border-radius: 3px;
    text-align: left;
    margin-bottom: 3px;
    cursor: pointer;
    font-size: 12px;
  }

  @media screen and (max-width: 600px) {
    .entry {
      font-size: 0;
      height: 20px;
    }
  }

  .filler {
    border: none;
  }

  .time {
    text-decoration: underline;
  }

  .add-new {
    background-color: whitesmoke;
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
    border: 2px dashed #ccc;
    cursor: pointer;
    display: none;
    font-weight: 600;
    font-size: 1.5rem;
    color: #777;
  }

  td.today .add-new {
    background-color: white;
  }

  td:not(.filler):hover .add-new {
    display: block;
  }

  .row-header {
    background-color: whitesmoke;
    padding: 0.8rem 1rem;
    font-weight: 600;
  }

  .row-content {
    padding: 0.8rem 1rem;
  }

  .dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    border: 1px solid black;
  }

  .row-entry-title:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .row-entry-time {
    font-weight: 600;
  }

  .no-entries {
    text-align: center;
    padding: 10rem 0;
    width: 100%;
    background-color: whitesmoke;
  }

  .entry-meta {
    margin-bottom: 1rem;
  }

  .modal-buttons {
    margin-top: 1rem;
  }

  .modal-buttons button {
    margin-right: 5px;
  }