html,
body,
div,
span {
  height: auto;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: arial;
 }

 .container {
    max-width: 60%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    background-color: #fafafa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: auto;
 }

 .button-other {
    background-color: #778899;
    color: white;
    cursor: pointer;
    width: auto;
    border: none;
    float: right;
    border-radius: 14px;
 }

 .button-submit {
    background-color: #1E90FF;
    color: white;
    cursor: pointer;
    width: 100%;
    border-radius: 14px;
    padding: 10px 15px;
    margin: 8px 0;
    float: right;
    border: none;
 }

 button:hover{
    opacity: 0.8;
 }

 .input[type=text], input[type=password] {
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
 }

 .imgcontainer {
   text-align: center;
   margin: 24px 0 12px 0;
 }

 img.avatar {
   width: 40%;
   border-radius: 50%;
 }

 .box {
   color: black;
   background: #fff;
   height: 30px;
   line-height: 30px; /* Same as height  */
 }

 .box2 {
   color: black;
   background: #fff;
   height: 100px;
   line-height: 100px; /* Same as height  */
 }

 .button-reg {
    background-color: #1E90FF;
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    padding: 10px 15px;
    margin: 8px 0;
    border-radius: 14px;
 }

 button:hover{
    opacity: 0.8;
 }

 .input[type=text], input[type=password] {
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
 }


 span.register {
   float: right;
   padding-top: 16px;
 }

 .picture {
    margin-top: 20px;
    border-radius: 50%;
    width: 35%;
  }

  .heading {
     text-align: center;
     font-size: 20px;
     font-weight: 700px;
  }

  .flexbox{
      display:-webkit-box;
      display:-moz-box;
    display:-ms-flexbox;
      display:-webkit-flex;
      display:flex;
  }

  .container{
      padding:15px;
    width:100%;
      color: black;
      align-items:left;
  }
  .left-hold{
      margin-right:auto;
      align-items:center;
  }

  .left-hold span{margin-right:15px;}

  .left-hold span img{width:100px;}

  .dp {
    width:50px;
    height:50px;
    margin-top:-5px;
    margin-left: 0px;
  }

  .detail {
    padding-top:10px;
    margin-left: 0px;
    text-align: left;
  }

  a.cancel {
     background-color: grey;
     color: white;
     cursor: pointer;
     width: auto;
     /*border-radius: 14px;*/
     padding: 8px 12px;
     margin: 8px 0;
     float: right;
     margin-top:10px;
     font-size: 10px;
  }

  a.accept {
     background-color: silver;
     color: white;
     cursor: pointer;
     width: auto;
     /*border-radius: 14px;*/
     padding: 8px 11px;
     margin: 8px 0;
     float: right;
     margin-top:10px;
     font-size: 10px;
  }
