.container {
    width: 650px;
    padding: 15px 35px 45px;
    margin: auto;
    margin-top: 100px;
    background-color: #fafafa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.friendcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 240px;
    text-align: center;
    margin-left: 1200px;
    margin-top: -130px;
    padding: 20px;
    background-color: #FAFAFA;
}

.picture {
    margin-top: 20px;
    border-radius: 50%;
    width: 35%;
}

.heading {
    text-align: center;
    font-size: 20px;
    font-weight: 700px;
}

.dp {
    width:40px;
    height:40px;
    margin-top:-5px;
    margin-left: 0px;
}

.detail {
    padding-top:10px;
    margin-left: 0px;
    text-align: left;
}

a.cancel {
    background-color: grey;
    color: white;
    cursor: pointer;
    width: auto;
    /*border-radius: 14px;*/
    padding: 8px 12px;
    margin: 8px 0;
    float: right;
    margin-top:0px;
    font-size: 10px;
}

a.accept {
    background-color: silver;
    color: white;
    cursor: pointer;
    width: auto;
    /*border-radius: 14px;*/
    padding: 8px 11px;
    margin: 8px 0;
    float: right;
    margin-top:0px;
    font-size: 10px;
}

.button-dash {
    background-color: #1E90FF;
    color: white;
    cursor: pointer;
    width: auto;
    border: none;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 14px;
    float: center;
}
.button-dash:hover{
    opacity: 0.8s;
}