<!-- Credit: The base template of NAV BAR is from Bootstrap-->
<!-- Bootstrap template used https://getbootstrap.com/docs/3.4/components/#navbar -->
<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="../static/css/base.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   {% block style %}{% endblock%}
</head>
<style>

</style>

<!-- Body -->
<body>
	<!-- Navigation Bar -->
	<div id="header">
	   <nav class="navbar navbar-default navbar-fixed-top">
		   <div class="container-fluid">
			   <div class="navbar-header">
				   <a class="navbar-brand" href="/">
				      <img src="../static/images/hangouts2square.png" width="30" height="30" style="margin-top: -5px;">
			      </a>
            </div>
			   <ul class="nav navbar-nav">
               {% if current_user.is_authenticated %}
				   <li ><a href="/dashboard">Dashboard<span class="sr-only">(current)</span></a></li>
				   <li ><a href="/profile">Profile</a></li>
				   <li><a href="/view-events">Events</a></li>
               <li><a href="/friends">Friends</a></li>
               <li><a href="/polls">Polls</a></li>

            </ul>
            <form class="navbar-form navbar-left" action="/search">
               <div class="input-group">
                     <input type="search" class="form-control" placeholder="Search" id="sitesearch" name="query">
               </div>
            </form>

      <li class="nav-item dropdown" style="margin-top:-20px; float: center">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#189AB4; text-decoration:none">
          Create <i class="fa fa-caret-down"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="text-align: left;">
          <a class="dropdown-item" href="/create-poll" style="text-align: left;text-decoration: none; color: #189AB4"> New Poll</a>
          <a class="dropdown-item" href="/create-event" style="text-align: left; text-decoration: none; color: #189AB4"> New Event</a>
        </div>
      </li>
			   <ul class="nav navbar-nav navbar-right">
   <!--             <li><a href="/create-poll"><span class="fa fa-plus"></span> New Poll</a></li>
               <li><a href="/create-event"><span class="fa fa-plus"></span> New Event</a></li> -->

               <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
            {% endif %}

		   </div>
	   </nav>

   </div>
	{% block content %}{% endblock %}

<script>
$(document).ready(function() {
  $('li.active').removeClass('active');
  $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
});
</script>

</body>
</html>