{% extends "base.html" %}
{% block style %}
	 <link rel="stylesheet" href="{{url_for('static',filename='create-event.css')}}">
{% endblock %}
{% block content %}


	<div class ="container" style="padding:">
		<h1>Create an event</h1>
		<form action="{{url_for('create_events')}}" method = "post" enctype="multipart/form-data">
			<div class ="firstbody">
				{% if form.errors %}
				{{ form.errors }}
				{% endif %}
				{{ form.hidden_tag() }}
		    	<text> Event Name </text></p>
		    	{{ form.name(size=60) }}</p>
		    	<text> Event Description</text></p>
		    	{{form.description(size=60)}}</p>
		    	{{form.start(class="datepicker")}}
		    	<text> &mdash;</text>
		    	{{form.end(class="datepicker")}}
		    	<!-- TODO -->
		    	<!-- create 2 time picker or sth else or bootstrap -->
		    	<!-- check if it works in eventRoutes.py by print() in console -->
		    	<!-- start time -->
		    	<!-- end time  -->
		    	<!-- Make it return as string -->
		    	{{form.pictureDir}}
		    	{{form.eventType}}
		    </div>
		    <div class ="button"><button class="button" type="submit">Submit</button></div>
		</form>
	</div>
{% endblock %}
