{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
		<link rel="stylesheet" href="../static/css/create-poll.css">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

		 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

		 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.js"></script>

		 <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css" />
	
    <script>
        $(document).ready(function(){
            $('#timeStart1').timepicker();
        });

        $(document).ready(function(){
            $('#timeStart2').timepicker();
        });

        $(document).ready(function(){
            $('#timeStart3').timepicker();
        });
    </script>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 style="text-align: center">Create Poll</h1>
        <form action="{{url_for('create_poll')}}" method="post">
        {{ form.hidden_tag() }}
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                        <p style="color:red;">{{ message }}</p>
                    {% endfor %}
                    {% endif %}
                {% endwith %}
            <p>
                Poll Name<br>
                {{ form.name(size=64) }}
            </p>
            <p>
                Poll Description<br>
                {{ form.description(size = 64) }}
            </p>
            <p>
                {{ form.option1.label }}: 
                    {{ form.option1(class="datepicker")}}
                    <input type="text" name="option1t" id="timeStart1" style="width: 100px;"/>
            </p>
            <p>
                {{ form.option2.label }}: 
                    {{ form.option2(class="datepicker")}}
                    <input type="text" name="option2t" id="timeStart2" style="width: 100px;"/>
            </p>
            <p>
                {{ form.option3.label }}: 
                    {{ form.option3(class="datepicker")}}
                    <input type="text" name="option3t" id="timeStart3" style="width: 100px;"/>
            </p>
            <button class="button-submit" type="submit">Create Poll</button>
        </form> 



    </div>


    {% endblock %}
</body>
</html>
