{% extends "base.html" %}
{% block style %}
	 <link rel="stylesheet" href="{{url_for('static',filename='create-event.css')}}">
{% endblock %}
{% block content %}

	<div class ="container" style="padding:">
		<h1>Create an event</h1>
		<form action="{{url_for('create_events')}}" method = "post" enctype="multipart/form-data">
			<div class ="firstbody">
				{% if form.errors %}
				{{ form.errors }}
				{% endif %}
				{{ form.hidden_tag() }}
		    	<text> Event Name </text></p>
		    	{{ form.name(size=60) }}</p>
		    	<text> Event Description</text></p>
				{{form.description(size=60)}}</p>
				Start Date/Time</p>
		    	{{form.start(class="datepicker")}} <input type="text" id="timeStart" style="width: 100px;"/> </p>
		    	End Date/Time </p>
				{{form.end(class="datepicker")}} <input type="text" id="timeEnd" style="width: 100px;"/> </p>
				
		    	<!-- TODO -->
		    	<!-- create 2 time picker or sth else or bootstrap -->
		    	<!-- check if it works in eventRoutes.py by print() in console -->
		    	<!-- start time -->
		    	<!-- end time  -->
		    	<!-- Make it return as string -->
		    	Event Photo</p> {{form.pictureDir}}</p>
				
				<!-- {{form.eventType}} -->
				Event Type </p>
				<select class="form-control" name="eventType" placeholder="Event Type" required>
					<option value="private">Private</option>
					<option value="public">Public</option>
				</select>
		    </div>
		    <div class ="button"><button class="button" type="submit">Submit</button></div>
		</form>
		
			</div>
	</div>

{% endblock %}
