{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.js"></script>
	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css" />
	<link rel="stylesheet" href="../static/css/create-event.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <script>
		$(document).ready(function(){
			$('#timeStart').timepicker();
		});

		$(document).ready(function(){
			$('#timeEnd').timepicker();
		});
	</script>
</head>
<body>
	<div class ="container">
		<h1>Create an event</h1>
		<form action="{{url_for('create_events')}}" method = "post" enctype="multipart/form-data">
			<div class ="firstbody">
				{{ form.hidden_tag() }}
				{% with messages = get_flashed_messages() %}
               {% if messages %}
                  {% for message in messages %}
                     <p style="color:red;">{{ message }}</p>
                  {% endfor %}
               {% endif %}
            {% endwith %}
		    	<text> Event Name </text></p>
		    	{{ form.name(size=60) }}</p>
		    	<text> Event Description</text></p>
				{{form.description(size=60)}}</p>
				Start Date/Time</p>
		    	{{form.start(class="datepicker")}} <input type="text" id="timeStart" name="starttime" style="width: 100px;"/> </p>
		    	End Date/Time </p>
				{{form.end(class="datepicker")}} <input type="text" id="timeEnd" name="endtime" style="width: 100px;"/> </p>

		    	Event Photo</p> {{form.pictureDir}}</p>

				Event Type </p>
				<select class="form-control" name="eventType" placeholder="Event Type" required>
					<option value="private">Private</option>
					<option value="public">Public</option>
				</select>
		      </div>
            <div class ="button"><button class="button" type="submit">Submit</button></div>
         </div>
		</form>

	</div>
</body>
</html>
{% endblock %}
