<!-- Credit: Template loosely based of a Bootstrap template -->
<!-- Bootstrap template from w3schools https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_social&stacked=h -->
{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<head>
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
   <link rel="stylesheet" href="../static/css/dashboard.css">
   <title>Dashboard</title>
</head>
<style>
  .events {
    background-color: white;
    border: 1px #f0f0f0 solid;
    padding:10px;
    margin-top: 10px;
  }

  .center-cropped {
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.center-cropped img {
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
}
  </style>
<!-- Body -->
<body class="w3-theme-15">
  <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
      <!-- Left Column -->
      <div class="w3-col m3">
        <div class="w3-card w3-round w3-white">
          <div class="w3-container">
            <!--Leave empty for structure purposes -->
          </div>
        </div>
      <!-- End Left Column -->
      </div>
      <!-- Middle Column -->
      <div class="w3-col m7">
        <div class="container"><br>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                  <p style="color:red;">{{ message }}</p>
              {% endfor %}
            {% endif %}
          {% endwith %}
          <h2 style="text-align:center">Poll List</h2>
          {% if polls %}
            {% for poll in polls%}
            <div class="events">
            <form action="{{url_for('update_vote', poll=poll._id)}}" method="post">
                {% if me._id == poll.creator %}
                <div style="float: right">
                   <a href="{{url_for('add_voter', poll=poll._id)}}" class="addVoter" title="Add a voter" style="color:#1E90FF; font-size:12px"><span class="fa fa-plus"></span></a>
                   <a href="{{url_for('delete_poll', poll=poll._id)}}" class="delPoll" title="Delete poll" style="color:#1E90FF; font-size:12px"><span class="fa fa-minus"></span></a>
                   <a href="{{url_for('poll_create_event', poll=poll._id)}}" class="createEvent" title="Create an event" style="color:#1E90FF; font-size:12px"><span class="fa fa-calendar"></span></a>
                </div> 
                {% endif %}   
            <p><h4><b>{{poll.name}}</b></h4>
            </p>
            <p> {{poll.description}} </p>
            <hr>
            {% for dates in poll.options %}
            {% set datetime = (dates.date|string).split(' ') %}
            <input type="radio" name="date" value="{{dates.date}}" style="border: 2px; background-color: white;"> 
            Date: {{datetime[0]}} Time: {{datetime[1].split(':')[0]}}:{{datetime[1].split(':')[1]}}
              {% if dates.votes %}
              <p>Voters</p> 
              {% endif %}
              <br>

            {% endfor %}
                <button name="add" value="add" class="button-add" type="submit">Vote</button>
                <button name="del" value="del" class="button-del" type="submit">Unvote</button>
            </div>
            {% endfor %}
            {% else %}
            <h4 style="text-align: center">You currently do not have any existing polls.</h4>
            <h5 style="text-align: center"><button class="button-polls" onclick="window.location.href = '/create-poll';">Create a poll</button></h5>
            <p>
            {% endif %}
            <br>
             <h2 style="text-align:center">Event List</h2>
            {% if events %}
            {%for event in events%}
            <div class="events">
                <div class="center-cropped" 
                    style="background-image: url('static/images/event/{{event.pictureDir}}');">
                 <img src="static/images/event/{{event.pictureDir}}" />
               </div>
              <h4><a href="{{ url_for('display_event', id = event._id) }}">{{event.name}}</a></h4>
              <hr class="w3-clear">
              {% set datetime1 = (event.start|string).split(' ') %}
              <h6>Start Date: {{datetime1[0]}} at {{datetime1[1].split(':')[0]}}:{{datetime1[1].split(':')[1]}}</h6>
              {% set datetime2 = (event.end|string).split(' ') %}
              <h6>End Date: {{datetime2[0]}} at {{datetime2[1].split(':')[0]}}:{{datetime2[1].split(':')[1]}}</h6>
              <p><b>Event Description</b></p>
              <p>{{event.description}}</p>
              <br>
            </div>
            {% endfor %}
            {% else %}
            <h3 style="text-align: center">You are currently not involved in any events.</h3>
            <h6 style="text-align: center"><button class="button-dash" onclick="window.location.href = '/create-event';">Create an event</button></h4>
            <p>
          {% endif %}
          </br>
        </div>
      <!-- End Middle Column -->
      </div>
      <!-- Right Column -->
      <div class="w3-col m2">
        <div class="w3-card w3-round w3-white w3-center">
          <!-- Leave for structure purposes -->
        </div>
        <div class="w3-card w3-round w3-white w3-center">
          <div class="w3-container" style="background-color: #fafafa">
              {% if requests %}
                <br>Friend Requests
                {% for friend in requests %}
                  <div class="detail">
                    <hr>
                    <img src="static/images/profile/{{friend.pictureDir}}" class="dp">  {{friend.firstName}} {{friend.lastName}}<br>
                    <a href="{{url_for('accept_request', profile_id=friend._id)}}"class="accept">
                    ✓</a>
                    <a href="{{url_for('delete_request', profile_id=friend._id)}}"class="cancel">x</a>
                  </div>
                </br>
                {% endfor %}
              {% endif %}
          </div>
        </div>
        <br>
      <!-- End Right Column -->
      </div>
    <!-- End Grid -->
    </div>
  <!-- End Page Container -->
  </div>



</body>
{% endblock %}
</html>

  

