{% extends "base.html" %}
{% block style%}
<link rel="stylesheet" href="/static/css/display-event.css">
{% endblock%}

{% block content %}
<body>
    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                        <p style="color:red;">{{ message }}</p>
                    {% endfor %}
                    {% endif %}
    {% endwith %}
   <div class="container">
    <div class="detail">
            <div class="event">
                <div class="center-cropped" 
                    style="background-image: url('/static/images/event/{{event.pictureDir}}');">
                 <img src="/static/images/event/{{event.pictureDir}}" />
               </div>
       <h2>{{event['name'] }}</h2>
       <hr>
       {% set datetime1 = (event.start|string).split(' ') %}
        <h6>Start Date: {{datetime1[0]}} at {{datetime1[1].split(':')[0]}}:{{datetime1[1].split(':')[1]}}</h6>
        {% set datetime2 = (event.end|string).split(' ') %}
        <h6>End Date: {{datetime2[0]}} at {{datetime2[1].split(':')[0]}}:{{datetime2[1].split(':')[1]}}</h6>
      </div>
        <div class="detail">
       <h4>Description</h4>
       <p>{{event['description']}}</p>
     </div>
     <div class="detail">
       <div class="inviteField">
           <h2>Invitation Status</h2>
           {% if status == "invited" %}
           <p>You have been invited by [host name/email].<br>
            <hr>
           <div style="text-align:center">
                <a class="button-accept" href="{{url_for('acceptInvite', eventId = event['_id'],acceptance = "going")}}"><i class="fa fa-calendar-check-o"></i> Accept</a>
                <a class="button-maybe" href="{{url_for('acceptInvite', eventId = event['_id'], acceptance = "maybe")}}"><i class="fa fa-calendar-minus-o"></i> Maybe</a></button>
                <a class="button-decline" href="{{url_for('acceptInvite', eventId = event['_id'], acceptance = "decline")}}"><i class="fa fa-calendar-times-o"></i>D</a></button>
            <hr>
            </div>
           {% else %}
           <form action="{{url_for('update_attendance', eventId = event['_id'])}}" method="POST">
               <select class="form-control" name="statusType" placeholder="Invite status" required>
                    <option name = "going" value="going">Going</option>
                    <option name = "maybe" href="/dashboard" value="maybe">Maybe</option>
                    <option name = "declined" value="declined">Can't Go</option>
                </select>
                <button class="button-add" type="submit">Update</button>
            </form>
           <h2>Co-hosts
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addCohosts" style="float:right">View All</button></h2>
                {% for item in cohosts %}
                    {% if loop.index <= 3 %}
                        <img src="/static/images/profile/{{item['pictureDir']}}" class="dp">
                        {{item['name']}}<hr>
                    {% else %}
                    {% endif %}
                {% endfor %}
            {% endif %}

           <p><h2>Invited Guests <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#DisplayFriends" style="float:right">View All</button></h2>
           <h2>Event Posts </h2>
           {% for post in posts %}
           <div postid={{post._id}}>
              <p style="float:right">{{post.authorDetails.firstName}} {{post.authorDetails.lastName}}</p>
              <img src="/static/images/profile/{{post.authorDetails.pictureDir}}" class="dp">
             <div class="detail" class="dp">
                <p><b>{{post.post_text}}</b></p>
             </div>
             <br />
           </div>
           {% endfor %}
           <form action="/add-event-post/{{event['_id']}}" method="post" >
              <input type="text" name="post_text" value="Write something">
              <input type="submit" value="Post">
           </form>
        </div>
        {% if host == 1 %}
        <input type = "text" id = "myInput" onkeyup ="hi('friends','myInput')" placeholder="Search for your friends" style="float:right">
        <ul id = "friends"></ul>
        {% else %}
        {% endif %}<br>
        <ul>
           {% for dictionary_item in event['invitees'] %}
            <p><a href="{{url_for('deleteInvite', eventId = event['_id'], userId = dictionary_item['id'])}}">
            {% if (host ==1 or canInvite == 1) and loop.index != 1 %}
                <i class="fa fa-times" aria-hidden="true"></i>
            {% else %}
            {% endif %}
            {% if loop.index <= 3 %}
                 </a>{{dictionary_item['email']}}</p>
                 {% else %}
            {% endif %}
           {% endfor %}
        </ul>
        <!-- Parts of this code was from https://getbootstrap.com/docs/4.0/components/navs/ -->
             <div class="modal fade" id = "DisplayFriends" role="dialog">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <ul class="nav nav-tabs">
                    <li class="active">
                       <a data-toggle = "tab" href="#going">Going</a>
                    </li>
                    <li >
                       <a data-toggle = "tab" href="#maybe">Maybe</a>
                    </li>
                    <li>
                       <a data-toggle = "tab" href="#declined">Not going</a>
                    </li>
                    <li>
                       <a data-toggle = "tab" href="#invited">Invited</a>
                    </li>
                </ul>
                <div class="tab-content">

                    <div id = "going" class="tab-pane fade in active"><p>
                        <ul>
                            {% if going %}
                                {% for item in going%}
                                    <img src="/static/images/profile/{{item['pictureDir']}}" class="dp">
                                    {{item['name']}}<hr>
                                {% endfor%}
                            {% else %}
                                <h4 style="text-align:center">No responses yet</h4>
                            {% endif %}
                        </ul>
                    </div>
                    <div id = "maybe" class="tab-pane fade in"><p>
                        <ul>
                            {% if maybe %}
                                {% for item in maybe%}
                                    <p><img src="/static/images/profile/{{item['pictureDir']}}" class="dp">
                                    {{item['name']}}<hr>
                                {% endfor%}
                            {% else %}
                                <h4 style="text-align:center">No responses yet</h4>
                            {% endif %}
                        </ul>
                    </div>
                    <div id = "declined" class="tab-pane fade in"><p>
                        <ul>
                            {% if declined %}
                                {% for item in declined%}
                                    <p><img src="/static/images/profile/{{item['pictureDir']}}" class="dp">
                                    {{item['name']}}<hr>
                                {% endfor%}
                            {% else %}
                                <h4 style="text-align:center">No responses yet</h4>
                            {% endif %}
                        </ul>
                    </div>
                    <div id = "invited" class="tab-pane fade in"><p>
                        <ul>
                            {%if host == 1 %}
                                {% for item in invited%}
                                  <li> {{item['name']}}  </li> <img src="/static/images/profile/{{item['pictureDir']}}" class="dp">
                                {% endfor%}
                            {% else %}
                                {% if invited %}
                                    {% for item in invited %}
                                        <p><img src="/static/images/profile/{{item['pictureDir']}}" class="dp">
                                        {{item['name']}}<hr>
                                        {% endfor%}
                                { % else %}
                                    <h4 style="text-align:center">No invitees yet</h4>
                                {% endif%}
                            {% endif %}
                        </ul>
                    </div>
                   </div>
              </div>

           <!-- End code from https://getbootstrap.com/docs/4.0/components/navs/ -->
      </div>
   </div>

   <div class="modal fade" id = "addCohosts" role="dialog">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
        </button>
       <h3>Other Co-hosts</h3><hr>
       <!-- all the cohosts are here -->
       {% if host == 1 or canInvite == 1%}
        <input type = "text" id = "coHostInput" onkeyup ="hi('coHosts','coHostInput')" placeholder="Add more event admins" style="float:right">
        <ul id = "coHosts"></ul>
       {% for item in cohosts %}
        <div class="cohost-list row" style="padding-left:20px">
            <img src="/static/images/profile/{{item['pictureDir']}}" class="dp">
            {{item['name']}}<hr>
        </div>
       {% endfor %}
   </div>


   <script type="text/javascript" src="{{ url_for('static', filename='js/display-event.js') }}"></script>
   <script>
       function hi(whichModal,whichInput){

           var id = "{{event['_id']}}"
           var friendlist = {{friends | safe}};
           console.log(friendlist)
           myFunction(friendlist,id,whichModal,whichInput)
       }
   </script>
    {% else %}
    </div>
    {%endif%}

</body>

{% endblock %}
