{% extends "base.html" %}
{% block content %}
<style>
.container{
    padding:20px;
    margin-top:100px;
    max-width:500px;
    text-align:center;
    background-color: #fafafa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align:left;
    padding:10px;
}
</style>
<body>
   <div class="container">
       <h1>{{event['name'] }}</h1>
       <br>
       <h2>Description</h2>
       <p>{{event['description']}}</p>
       <h2>Invited Guests</h2>
       <div class="inviteField">
           <button><a href="{{url_for('acceptInvite', eventId = event['_id'],acceptance = "going")}}">Accept</a></button> <button>Maybe</button> <button>Decline</button>
        </div>
       <ul>
           {% for dictionary_item in event['invitees'] %}
           <li>{{dictionary_item['email']}}</li>
           <br>
           {% endfor %}
       </ul>
    {% if host == 1 %}
      <input type = "text" id = "myInput" onkeyup ="hi()" placeholder="Search for your friends">
      <ul id = "friends">
       </ul>
   </div>

   <script type="text/javascript" src="{{ url_for('static', filename='js/display-event.js') }}"></script>
   <script>
       function hi(){
           var id = "{{event['_id']}}"
           var friendlist = {{friends | safe}};
           myFunction(friendlist,id)
       }
   </script>
   {% else %}
   {% endif %}

</body>

{% endblock %}
