{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<head>
   <title>Edit your profile</title>
   <link rel="stylesheet" href="../static/css/edit-profile.css">
</head>
<html>
<style>


</style>
<body>
   <div class="container">
      <h1 style="text-align:center">Edit Profile</h1>
      <form action="/edit-profile" method="post" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          {% with messages = get_flashed_messages() %}
             {% if messages %}
                {% for message in messages %}
                   <p style="color:red;">{{ message }}</p>
                {% endfor %}
             {% endif %}
          {% endwith %}
          {% if profile.firstName != null and  profile.lastName != null and profile.descriptions != null %}
            <input type="text" class="form-control" name="firstName" value={{profile.firstName}} required=""autofocus=""></input><br>
            <input type="text" class="form-control" name="lastName" value={{profile.lastName}} required=""autofocus=""/><br>
            <input type="text" class="form-control" name="descriptions" value="{{profile.descriptions}}" required/><br>
          {% else %}
            First Name<br>
            <input type="text" class="form-control" name="firstName" placeholder="First Name" required=""autofocus=""/><br>
            Last Name <br>
            <input type="text" class="form-control" name="lastName" placeholder="Last Name" required=""autofocus=""/><br>
            Short Description <br>
            <input type="text" class="form-control" name="descriptions" placeholder="Descriptions" required/><br>
          {% endif %}
            Gender <br>
            <select class="form-control" name="gender" placeholder="Gender" required>
               {% if profile.gender == "female" %}
               <option value="female">Female</option>
               <option value="male">Male</option>
               {% elif profile.gender == "male" %}
               <option value="male">Male</option>
               <option value="female">Female</option>
               {% else %}
               <option value="female">Female</option>
               <option value="male">Male</option>
            </select></br>
        	 {% endif %}
          <input class="uplbutton" type="file" class="form-control" name="pictureDir"/>
          <button class="button" type="submit">Save changes</button>
      </form>
   </div>
</body>
</html>
{% endblock %}