<h1>Edit Profile</h1>
<form action="/edit-profile" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {% with messages = get_flashed_messages() %}
       {% if messages %}
          {% for message in messages %}
             {{ message }}
          {% endfor %}
       {% endif %}
    {% endwith %}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=64) }}
    </p>
    <p>
        {{ form.descriptions.label }}<br>
        {{ form.descriptions(size=128) }}
    </p>
     <p>
        {{ form.gender.label }}<br>
        {{ form.gender(size=12) }}
    </p>
    {{ form.pictureDir }}
    {% for error in form.pictureDir.errors %}
     <span style="color: red;">{{ error }}</span>
    {% endfor %}
    <p>{{ form.submit() }}</p>
</form>