{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
.container{
    padding:20px;
    margin-top:100px;
    max-width:500px;
    text-align:left;
    background-color: #fafafa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding:10px;
}

a.delete {
   background-color: #1E90FF;
   color: white;
   cursor: pointer;
   width: auto;
   border-radius: 14px;
   padding: 8px 12px;
   margin: 8px 0;
   float: right;
   margin-top:-50px;
   font-size: 10px;
}
</style>

<body>
    <div class="container">
        <h1 style="text-align:center;">Events</h1></br>
        {%for dictionary_item in events%}
        <h4><a href="{{ url_for('display_event', id = dictionary_item['_id']) }}">{{dictionary_item['name']}}</a></h4>
        <hr class="w3-clear">
           <p><b>Event Description</b></p>
           <p>{{dictionary_item['description']}}</p>
           <br>
           <a href="{{url_for('delete_event', id = dictionary_item['_id'])}}" class="delete">Delete Event</a></p>
        {% endfor %}
    </div>
{% endblock %}
</body>
</html>
