{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<head>
   <!-- Bootstrap Import -->
   <!-- Bootstrap template from w3schools https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_social&stacked=h -->
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <title>Dashboard</title>
</head>



<!-- Body -->
<body class="w3-theme-15">
<h1>Congratulations</h1>
<p>Congratulation!!, you have created an event :)</p>
<a href="/dashboard">Return To Dashboard</a>
</body>
{% endblock %}
</html>
