{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<head>
   <title>Friends</title>
   <link rel="stylesheet" href="../static/css/friend.css">
</head>
<html>
<body>  
  <!-- can be use to display friend list in dashboard -->
  <div class="container">
  {% with messages = get_flashed_messages() %}
      {% if messages %}
         {% for message in messages %}
            <p style="color:red;">{{ message }}</p>
         {% endfor %}
      {% endif %}
  {% endwith %} 
   <h1>Friends</h1>
   {% for friend in me.friends %}
      {% if friend.status != "pending" %}
        <div class="detail">
          <p><b>Email:</b> {{friend.email}}</p>
          <p><b>Name:</b> {{friend.firstName}} {{friend.lastName}}</p>
        </div>
        <a href="{{url_for('profile',
          profile_id=friend_ids_by_email[friend.email])}}">
          <img src="static/images/profile/{{friend.pictureDir}}" class="dp">
        </a>
        <a href="{{url_for('delete_friend', email=friend.email)}}"class="cancel">Delete Friend</a>
        <br />
      {% endif %}
   {% endfor %}
   <br>

    <div class ="container2">
       <h4>Friend requests</h4>
        <hr class="w3-clear">
       <h5>Incoming requests:</h5>
       {% for friend in requests %}
          <div class="detail">
              <p><b>Email:</b> {{friend.email}}</p>
              <p><b>Name:</b> {{friend.firstName}} {{friend.lastName}}</p>
            </div>
            <img src="static/images/profile/{{friend.pictureDir}}" class="dp">
          <a href="{{url_for('accept_request', email=friend.email)}}"class="accept">✓</a>
          <a href="{{url_for('delete_request', email=friend.email)}}"class="cancel">x</a>
          <br />
       {% endfor %}
       <h5>Sent Request to:</h5>
       {% for friend in me.friends %}
          {% if friend.status == "pending" %}
            <div class="detail">
              <p><b>Email:</b> {{friend.email}}</p>
              <p><b>Name:</b> {{friend.firstName}} {{friend.lastName}}</p>
            </div>
            <img src="static/images/profile/{{friend.pictureDir}}" class="dp">
            <a href="{{url_for('delete_request', email=friend.email)}}"class="delete">
            x</a>
          <br />
          {% endif %}
       {% endfor %}
    </div>
   </div>
<div class="container" style="margin-top: 20px;">
   <!-- testing can be use for search-->
   <h4>All Users</h4>
   <hr class="w3-clear">
   {% for user in users%}
      {% if user.email != current_user.email %}
      <div class="detail">
        <p><b>Email:</b> {{user.email}}</p>
        <p><b>Name:</b> {{user.firstName}} {{user.lastName}}</p>
      </div>
      <a href="{{url_for('profile', profile_id=user._id)}}">
        <img src="static/images/profile/{{user.pictureDir}}" class="dp">
      </a>
         <a href="{{url_for('send_request', email=user.email)}}" class="button">Send Request</a>
        <br/>
        <br/>
      {% else %}
        <!-- <p>Much empty :'(</p> -->
      {% endif %}
   {% endfor %}
 </div>
   
</body>
{% endblock %}
</html>
