{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<head>
   <title>Friends</title>
</head>
<html>

<style>
.container{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding:15px;
	margin-top:60px;
	max-width:500px; 
	text-align:left;
	margin-top: 80px;
}

a.button {
   background-color: #1E90FF;
   color: white;
   cursor: pointer;
   width: auto;
   border-radius: 14px;
   padding: 10px 15px;
   margin: 8px 0;
   float: right;
}

h1 {
   text-align: center;
}
</style>
<body>  
  {% with messages = get_flashed_messages() %}
      {% if messages %}
         {% for message in messages %}
            <p style="color:red;">{{ message }}</p>
         {% endfor %}
      {% endif %}
  {% endwith %} 
  <!-- can be use to display friend list in dashboard -->
  <div class="container">
   <h1>Friends</h1>
   {% for friend in me.friends %}
      {% if friend.status != "pending" %}
        <p><b>Email:</b> {{friend.email}}</p>
        <p><b>First Name:</b> {{friend.firstName}}</p>
        <p><b>Last Name:</b> {{friend.lastName}}</p>
        <a href="{{url_for('delete_request', email=friend.email)}}">Delete Friend</a>
        <br />
      {% else %}
        <p>Much empty :'(</p>
      {% endif %}
   {% endfor %}
   <br>
   <h2>Friend requests</h2>
    <hr class="w3-clear">
   <h4>Incoming requests:</h4>
   {% for friend in requests %}
      <p><b>Email:</b> {{friend.email}}</p>
      <p><b>First Name:</b> {{friend.firstName}}</p>
      <p><b>Last Name:</b> {{friend.lastName}}</p>
      <a href="{{url_for('accept_request', email=friend.email)}}">Accept Request</a>
      <a href="{{url_for('delete_request', email=friend.email)}}">Delete Request</a>
      <br />
   {% endfor %}
   <h4>Sent Request to:</h4>
   {% for friend in me.friends %}
      {% if friend.status == "pending" %}
        <p><b>Email:</b> {{friend.email}}</p>
        <p><b>First Name:</b> {{friend.firstName}}</p>
        <p><b>Last Name:</b> {{friend.lastName}}</p>
        <a href="{{url_for('delete_request', email=friend.email)}}">Cancel Request</a>
      <br />
      {% else %}
        <p>Much empty :'(</p>
      {% endif %}
   {% endfor %}

   <!-- testing can be use for search-->
   <h2>Show all Users</h2>
   <hr class="w3-clear">
   {% for user in users%}
   		{% if user.email != current_user.email %}
  			<p><b>Email:</b> {{user.email}}</p>
  			<p><b>First Name:</b> {{user.firstName}}</p>
  			<p><b>Last Name:</b> {{user.lastName}}</p>
         <a href="{{url_for('send_request', email=user.email)}}" class="button">Send Request</a>
  			<br/>
  			<br/>
      {% else %}
        <p>Much empty :'(</p>
		  {% endif %}
   {% endfor %}
   </div>
</body>
{% endblock %}
</html>
