    <h1>Log In</h1>
    <form action="/login" method="post">
        {{ form.hidden_tag() }}
        {% with messages = get_flashed_messages() %}
           {% if messages %}
              {% for message in messages %}
                 {{ message }}
              {% endfor %}
           {% endif %}
        {% endwith %}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=64) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>