{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/poll.css">
</head>
<body>
<div class="container">
	<h1 style="text-align:center">Poll List</h1>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<p style="color:red;">{{ message }}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
	{% if polls %}
		{% for poll in polls %}
    <div class="detail">
			<form action="{{url_for('update_vote', poll=poll._id)}}" method="post">
         <!-- <hr> -->
            <p><h4><b>{{poll.name}}</b>
               {% if user._id == poll.creator %}
                  <a href="{{url_for('add_voter', poll=poll._id)}}" class="addVoter" title="Add a voter"><span class="fa fa-plus"></span></a>
                  <a href="{{url_for('delete_poll', poll=poll._id)}}" class="delPoll" title="Delete poll"><span class="fa fa-minus"></span></a>
               {% endif %}   
            </p></h4>
			<p style="text-align: center"> {{poll.description}} </p><hr>
			{% for dates in poll.options %}
      {% set datetime = (dates.date|string).split(' ') %}
			<input type="radio" name="date" value="{{dates.date}}" style="border: 2px; background-color: white;"> 
      Date: {{datetime[0]}} Time: {{datetime[1].split(':')[0]}}:{{datetime[1].split(':')[1]}}
				{% if dates.votes %}
				<p>Voters</p> 
				{% endif %}
				{% for votes in dates.voters %}
				<br> <i class="fa fa-user" style="color:#1E90FF"></i> {{votes}}
      
				{% endfor %}
				<br>
			
			<br />
			{% endfor %}
			<br>
			<button name="add" value="add" class="button-add" type="submit">Vote</button>
			<button name="del" value="del" class="button-del" type="submit">Unvote</button>
         {% if user._id == poll.creator %}
			  <a href="{{url_for('poll_create_event', poll=poll._id)}}" class="createEvent" title="Create an event"><span class="fa fa-calendar"></span></a>
			{% endif %}
			</form>
      </div>
		{% endfor %}
	{% else %}
		<h4 style="text-align: center">You currently do not have any existing polls.</h4>
		<h5 style="text-align: center"><button class="button-polls" onclick="window.location.href = '/create-poll';">Create a poll</button></h5>
		<p>
	{% endif %}
</div>
{% endblock %}

</body>
</html>
