{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="../static/css/registration.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <title>Register An Account</title>
</head>

<body opacity="60%">
   <div class="container">
      <div class="text-center">
         <h1 style="text-align:center">Registration</h1>
      </div>
      <form action="/register" method="post">
         <div class="imgcontainer">
            <img src="https://media.discordapp.net/attachments/629121628001009691/632471390519427104/hangouts2.png" alt="Avatar" class="avatar">
         </div>
         {{ form.hidden_tag() }}
            {% with messages = get_flashed_messages() %}
               {% if messages %}
                  {% for message in messages %}
                     <p style="color:red;">{{ message }}</p>
                  {% endfor %}
               {% endif %}
            {% endwith %}
        Email <br>
        <input type="email" class="form-control" name="email" placeholder="Email" required=""autofocus=""/></br>
        Password <br>
        <input type="password" class="form-control" name="password" placeholder="Password" required/></br>
        <button class="button-reg" type="submit">Register Now</button>
      </form>
   </div>
</body>
{% endblock %}
</html>
