<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/reset-password-token.css">
        <title>Reset Your Password</title>
    </head>
<style>
.container{
    padding:20px;
    margin-top:100px;
    max-width:500px;
    text-align:left;
    background-color: #fafafa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding:10px;
}
</style>
<div id="container">
    <p>Your account on Hangouts was successfully created.</p>
    Please click the link below to confirm your email address and activate your account:</p>
    <a href="{{ password_reset_url }}">{{ password_reset_url }}</a>
</div>
  