<h1>Reset Password for {{email}}</h1>
 <form action="{{url_for('reset_pwd', token=token)}}" method="post">
     {{ form.hidden_tag() }}
         {% with messages = get_flashed_messages() %}
            {% if messages %}
               {% for message in messages %}
                  <p style="color:red;">{{ message }}</p>
               {% endfor %}
            {% endif %}
         {% endwith %}
     <p>
         {{ form.password.label }}
         {{ form.password(size=64) }}
     <p>{{ form.submit() }}</p>
 </form> 